/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.sidebar {
	background: red;
}

.description {
	font-size: 16px;
}

.description ul {
	margin-top: 16px;
	padding-left: 18px;
}

.description a {
	color: red;
}

.description h3 {
	margin-bottom: 4px;
	font-family: 'Pathway Gothic One';
	font-weight: 200
}

.description h4 {
	margin-top: 16px;
	margin-bottom: 4px;
	font-family: 'Pathway Gothic One';
	font-weight: 200;
}

.tutorial {
	margin-top: 24px;
	margin-bottom: 24px;
}

.entry-title h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;	
}


.turbo-input {
	border: none;
	border-bottom: 1px solid #ddd;
	width: 100%;
	margin-bottom: 24px;
	font-size: 16px;
	padding: 4px
}